FirstDay/Zad1/Anagram
FirstDay/Zad2/a.out
FirstDay/Zad2/Equal_XO
.vscode/settings.json
FirstDay/Zad3/FormTheLargest
FirstDay/Zad3/a.out
FirstDay/Zad4/Lotto
FirstDay/Zad4/a.out
FirstDay/Zad4/Lotto
FirstDay/Zad5/a.out
FirstDay/Zad6/a.out
FirstDay/Zad7SPECIAL/a.out
FirstDay/Zad6/OmitFives
Poker/Poker
Poker/Poker.out
ClientServer/Client
ClientServer/Server
